/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     margin: 5%;
}

h1{
     text-align: center;
}

.buttons{
     display: flex;
     justify-content: center;
     flex-direction: row;
     /* margin: 0 auto; */
}

.gameBody{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}

.playerOne, .playerTwo{
     display: flex;
     align-content: center;
     flex-direction: column;
     text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
